@use 'variables' as var;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin page {
    display: flex;
    flex-direction: column;
    width: var.$contentWidth;
    margin: 0 auto;
    height: 100%;
    padding: 16px;
    row-gap: 16px;

    @media (max-width: (var.$contentWidth + 20px)) {
        width: 100%;
    }

    @media (max-width: 767px) {
        row-gap: 12px;
        padding: 12px;
    }
}
